---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Herinirina Noël Rasolozanany"
	description="About Herinirina Noël Rasolozanany"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences."
			>
				<img
					width="1000"
					height="500"
					src="/assets/portrait5.jpg"
					alt="Herinirina Noël Rasolozanany"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Mon parcours</h2>
				<div class="content">
					<p>
						Après plus de 14 années passées dans le tourisme, j’ai
						fait le choix d’une reconversion professionnelle. Le
						monde du développement web est un domaine qui m’a
						toujours captivé, c’est pourquoi j’ai décidé de sauter
						le pas et de me lancer dedans. Après de nombreuses
						recherches, la formation qui m’a semblé la plus complète
						et en adéquation avec ce que je recherche est celle
						proposé par O’Clock, d’où le choix de cette école.
					</p><br />
					<p>Ecole O'clock</p>
					<p>
						FORMATION "Développeur Web et web mobile " , JAVASCRIPT.
						Titre Professionnel Niveau V, Programmation /
						développeur informatique, général
					</p>
					<p>nov. 2022 - mai 2023</p><br />

					<p>
						Formation intensive d'une durée de 6 mois soit
						798Heures.
					</p><br />
					<p>3 mois de socle:</p>
					<p>
						Développer la partie frontend d'une application web ou
						web mobile (Html, CSS , Javascript)
					</p>
					<p>
						Développer la partie backend d'une application web ou
						web mobile ( Javascript ,NodeJs , Express, PostgreSQL,
						Sequelize, API).
					</p><br />
					<p>
						1 mois de spécialisation: Spé Data (SQL, Node.js,
						Express, Sqitch, …)
					</p>

					<p>1 mois de projet</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Mes compétences</h2>
				<div class="content">
					<p>
						· HTML5 · CSS · Express.js · Node.js · API REST ·
						Sequelize.js · GitHub · Git · SQL · PostgreSQL ·
						JavaScript ·
					</p>
					<p>· REACT ·</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Soft Skills</h2>
				<div class="content">
					<p>
						Travail en équipe et sens du collectif , Pair
						Programming, sens de la communication
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
